.youtube__cont {
    background-color: var(--black);
}

.youtube__inner {

}

.youtube__list {

    ul {
display: flex;
flex-wrap: wrap;

        li {
       flex: 1 1 23%;
       margin: 1%;
            p {
                color: #fff;
                font-family: var(--sub_font);
                padding-top: 7px;

            }
        }
        
    }
}

  